<div class="overflow-hidden rounded-xl border border-gray-100 bg-gray-50 p-1">
	<ul class="flex items-center gap-2 text-sm font-medium">
		<button
			class="cursor-pointer flex-1"
			*ngFor="let filter of filters; let i = index"
			(click)="setActiveIndex(filter, i)"
		>
			<ng-container *ngTemplateOutlet="link; context: { $implicit: filter, i }"></ng-container>
		</button>
	</ul>
</div>

<ng-template #link let-filter let-idx="i">
	<a
		[ngClass]="{ 'text-gra relative bg-white shadow text-black': idx === activeIndex }"
		class="flex items-center justify-center gap-2 rounded-lg px-3 py-2 text-gray-500 hover:bg-white hover:text-gray-700 hover:shadow"
	>
		{{ filter }}
	</a>
</ng-template>
